<!DOCTYPE html>
<html lang="es">
<head>
    <title>Columnas múltiples en CSS3 - campusMVP.es</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="Stylesheet" href="common.css" />
</head>
<body>
    <main>
        <h1>Columnas múltiples en CSS3</h1>
        <p>Lorem ipsum dolor sit amet....</p>        <p><img src="imagen.png" alt="Curso de HTML5 y CSS3 en campusMVP"> Nunc iaculis laoreet...</p>

        <p>Nulla facilisi. Pellentesque ...</p>
        <h2>Subtítulo en medio del contenido</h2>
        <p>Nam sed est commodo orci blandit maximus...</p>
    </main>
</body>
</html>