<html>
  <head >
    <script src="https://kit.fontawesome.com/577da7c0cc.js" crossorigin="anonymous"></script>
  </head>
    <header>
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand " style="color: #808080;" href="#"><b>BIENVENIDO A SU PORTAL</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color:#808080;" ><b>Agregar reclamos</b> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color:#808080;" ><b>Perfil</b> <span class="sr-only">(current)</span></a>
            </li>              <li class="nav-item active">
              <a class="nav-link" href="#" style="color:#808080;" ><b>Historial de reclamos</b> <span class="sr-only">(current)</span></a>
            </li>              <li class="nav-item active">
              <a class="nav-link" href="#" style="color:#808080;" ><b><h5>Salir</h5></b> <span class="sr-only">(current)</span></a>
            </li>
          </ul>
  
        </div>
  
      </nav>
    </header>
    <body class="container ">
      <div >
        
        <div class="row fff">
          <div class="col-7">
              <h1 style="color: #808080;">Detalle su reclamo</h1>
            <br>
          </div>
      
      </div>
      <div class="row fff">
        <div class="col-7">
          <div class="dropdown">
        <button class="btn btn-secondary btn-block botondesp" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Lugar del suceso 
        </button>
        <div class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" >Baquedano</a>
          <a class="dropdown-item" >Estacion central</a>
          <a class="dropdown-item" >Tobalaba</a>
        </div>
          </div>
        </div>
        <div class="col-5" align="center">
          <h3> ¿Qué te pareció lo adquirido?</h3>
        </div>
        <br>
      </div>
      <div class="row fff">
        <div class="col-7">
          <div class="dropdown">
              <button class="btn btn-secondary btn-block botondesp " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hora del suceso
              </button>
              <div class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" >1</a>
                <a class="dropdown-item" >4</a>
                <a class="dropdown-item" >7</a>
              </div>
            </div>
            <br>
      </div>
      <div class="col-5" align="center">
        <button class="caritas" ><img src="https://img.icons8.com/ios-filled/70/56cf4f/happy.png"></button>
        &nbsp;&nbsp;<button class="caritas"><img src="https://img.icons8.com/ios-filled/70/69776d/neutral-emoticon--v1.png"></button>
        &nbsp; &nbsp;<button class="caritas"><img src="https://img.icons8.com/ios-filled/70/000000/disappointed.png"></button>
      </div>
      </div>
      <div class="row fff">
          <div class="col-7">
              <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
              <br>
              <h3 style="color: #4d3a68;"> 
                <label for=""> <input type="checkbox" aria-label> Bienes &nbsp; &nbsp; &nbsp;</label>
                <label for=""> <input type="checkbox" aria-label> Servicios&nbsp; &nbsp; &nbsp;</label>
                <label for=""> <input type="checkbox" aria-label> Empleados&nbsp; &nbsp; &nbsp;</label>
              </h3>
              <br>
          </div>
          <div class="col-5" align="center">
            <div>
              <h3> ¿Cómo se sintió con la atención? </h3>
            </div>  
            <div>
               <button class="caritas" ><img src="https://img.icons8.com/ios-filled/70/56cf4f/happy.png"></button>
              &nbsp;&nbsp;<button class="caritas"><img src="https://img.icons8.com/ios-filled/70/69776d/neutral-emoticon--v1.png"></button>
              &nbsp; &nbsp;<button class="caritas"><img src="https://img.icons8.com/ios-filled/70/000000/disappointed.png"></button>
            </div>
            <div>
              <h3>¿Qué le pareció el servicio?</h3>
            </div>
            <div>
              <button class="caritas" ><img src="https://img.icons8.com/ios-filled/70/56cf4f/happy.png"></button>
              &nbsp;&nbsp;<button class="caritas"><img src="https://img.icons8.com/ios-filled/70/69776d/neutral-emoticon--v1.png"></button>
              &nbsp; &nbsp;<button class="caritas"><img src="https://img.icons8.com/ios-filled/70/000000/disappointed.png"></button>
          
            </div>
          </div>
        </div>
          

      <form class="row">
        <div class="form-group col-10">
          <label for="exampleFormControlFile1">agregue su archivo aqui </label> <!-- cuantos archivos queremos colocar-->
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <div class="col-2" align="center">
          <a href="/reclamos" target="_self"><button type="button"  class="btn boton btn-secondary btn-lg" disabled>ENVIAR</button></a>
        

        </div>

      </form>
      </div>
       

        
    </body>
</html>