<html>
  
  <div id="texto">
      <h1>Bienvenido a tu portal</h1>
      <br>
      <h2>CALIDAD, EXCELENCIA
          EFICIENCIA, INNOVACIÓN Y
          RESPONSABILIDAD SOCIAL</h2>
  </div>
  <br>
  <body class="container">
 <div class="row">
  <div class="col-sm-6">
    <div class="card" style="background-color: rgb(215, 241, 255);">
      <div class="card-body">
        <h5 class="card-title">Perfil</h5>
        <p class="card-text">Manten tu perfil actualizado, eres el contanto directo con el reclamante así podremos tener una atención ligera y personalizada</p>
        <a class="button" style="font-size: 15px;" title="Descargar" href="">
                  <span class="dashicons dashicons-admin-generic"></span>Actualizar
                  </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="background-color: rgb(215, 242, 255);">
      <div class="card-body">
        <h5 class="card-title">Historial de Reclamos</h5>
        <p class="card-text">Revisa constantemente tu plataforma, recuerda que las respuestas son en plazos acotados.</p>
        <a class="button" style="font-size: 15px;" title="Descargar" href="">
                  <span class="dashicons dashicons-admin-generic"></span>Historial
                  </a>
      </div>
    </div>
  </div>
</div>

  </body>
</html>