<div id="contenedorfondo">
    <div class="row">
        <div class="col-sm" style="margin-left: 15%;">
            <div id="contenedor">
                <img src="assets\avatar.png" alt="" style="width: 30%; height: 30%;">
                <br><br>
                <h6 id="texto">Iniciar
                    <br><br>
                    <input placeholder="Email@" type="email" style="text-align: center;">
                    <br><br>
                    <input placeholder="Contraseña" type="password" style="text-align: center;">
                    <br><br>
                    <a href="/reclamos" target="_self"><button type="button" class="btn btn-light">continuar</button></a>
                    <br><br>
                    <small style="color: rgb(163, 162, 162);">¿olvidaste tu contraseña?</small>
                </h6>
            </div>
        </div>
        <div class="col-sm">
            <div id="contenedor" style="margin-left: 15%;">
                <img src="assets\avatar.png" alt="" style="width: 30%; height: 30%;">
                <br><br>
                <h6 id="texto">Registrar
                    <br><br>
                    <p>al registrarse como un nuevo usuario, usted podrá ingresar y ver el estado de sus tramites</p>
                    <br><br>
                    <a href="/registro" target="_self"><button type="button" class="btn btn-light">continuar</button></a>
                </h6>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<a href="" target="_self"><button type="button" class="btn btn-light" style="position: absolute; left: 50%;">Salir</button></a>