#cuerpo{
    background-image:url("assets/fondo/fondo7.jpg");
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-backdrop-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}