<div style="background-color: rgb(255, 255, 255,0.5); ">
    <div id="texto">
        <h1 style="text-align: center;">Registro</h1>
        <br><br>
        <pre>Nombre     <input type="text"></pre>
        <pre>Apellido   <input type="text"></pre>
        <pre>Rut        <input type="text"></pre>
        <pre>Contacto   <input type="text"></pre>
        <br>
        <a href="" target="_self"><button type="button" class="btn btn-light" style="position: absolute; left: 10%; background-color: black; color: white;">Registrarse</button></a>
        <br><br>
    </div>
</div>
<a href="" target="_self"><button type="button" class="btn btn-light" style="position: absolute; left: 30%; color: black;">Salir</button></a>