.ejec{
    margin-top: 2%;
}
.table{
    margin-left: 3%;
}
.caja{
    margin-left: 5%;
    margin-right: 18%;
}
.caja2{
    margin-top: 6% ;
    margin-right:80%;
    margin-left: 5%;
}
.reclamos{
    margin-top: 30%;
}
.button{
    margin-right: 10%;
}