<body class="caja"> 
   
    <div class= "row titulo " >
        <div class= "col"align= "center">
            <h3>Portal Administrador </h3>
        </div>
    </div>
    <div class= "row tituloej " >
        <div class= "col"align= "left">
            <h5>Ejecutivos disponibles </h5>
        </div>
            <!-- Button trigger modal -->
            <div class= "row buttonA"> 
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
             Agregar
            </button>
  
             <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                 <div class="modal-content">
                  <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Registrar nuevo ejecutivo</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    ...
                    .....
                    .....
                    ....
                    .
                    .
                    .

                   ....
                  </div>
                  <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                   <button type="button" class="btn btn-primary">Guardar</button>
                  </div>
                </div>
              </div>
            </div>
          </div> 
    </div>
    <div class="row ejec">
        <table class="col-8 table" align="center">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Claudia</td>
                    <td>eje@reclamo.cl</td>
                    <button type="button" class="btn btn-primary btn-sm">Eliminar</button>

                </tr>
                <tr>
                    <td>Esmeralda</td>
                    <td>eje@reclamo.cl</td>
                    <button type="button" class="btn btn-primary btn-sm">Eliminar</button>

                </tr>
                <tr>
                    <td>Cristobal</td>
                    <td>eje@reclamo.cl</td>
                    <button type="button" class="btn btn-primary btn-sm">Eliminar</button>

                </tr>
                <tr>
                    <td>Nicol</td>
                    <td>eje@reclamo.cl</td>
                    <button type="button" class="btn btn-primary btn-sm">Eliminar</button>

                </tr>
            </tbody>
        </table>

    </div>
        

</body>


<body class="caja2">
    <div class= "row recl " >
    <div class= "col"align= "center">
        <h3>Reclamos registrados </h3>


    </div>


   <div class="row reclamos">
     <table class="col-4 table" align="center">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Reclamo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background-color: rgba(189, 45, 45, 0.911);">#001</td>
                <td>Mal servicio</td>
            </tr>
            <tr>
                <td style="background-color: rgba(129, 13, 120, 0.911);">#002</td>
                <td>Higiene</td>
            </tr>
            <tr>
                <td style="background-color: rgba(250, 235, 99, 0.911);">#003</td>
                <td>Cobro indevido</td>
            </tr>
            <tr>
                <td style="background-color: rgba(92, 230, 65, 0.911);">#004</td>
                <td>Mala atención</td>
            </tr>
        </tbody>
        </table>
    </div>
    </div>
    <img src="assets\grafico.png" alt="" style="width: 30%; height: 60%; position: absolute; left: 50%; top: 100%;">
    <a href="/login" target="_self"><button type="button" class="btn btn-light" style="position: fixed; left: 10%;">Salir</button></a>
</body>