<html>
    <header  >
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
          <a class="navbar-brand " style="color: #808080;" href="#"><b>BIENVENIDO A SU PORTAL</b></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#" style="color:#808080;" ><b>Perfil</b> <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#" style="color:#808080;" ><b>Reclamos asignados</b> <span class="sr-only">(current)</span></a>
              </li>              <li class="nav-item active">
                <a class="nav-link" href="#" style="color:#808080;" ><b>Historial de reclamos</b> <span class="sr-only">(current)</span></a>
              </li>              <li class="nav-item active">
                <a class="nav-link" href="#" style="color:#808080;" ><b><h5>Salir</h5></b> <span class="sr-only">(current)</span></a>
              </li>
            </ul>
    
          </div>
    
        </nav>
      </header>
    <body class="container" >
      <div class="row">
        <div class="col-9 busqueda">
            <div class="buscador">
   
                <nav class="navbar navbar-light bg-light">
                  <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="RECLAMOS PENDIENTES" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background: rgb(38,158,167); color:rgb(255, 255, 255);">BUSCAR</button>
                  </form>
                </nav>
            </div>
                  <table class="table table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">id Reclamo</th>
                        <th scope="col">Fecha </th>
                        <th scope="col">Ejecutivo Asignado</th>
                        <th scope="col">Categoria</th>                
                        <th scope="col">Gestion</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1789</th>
                        <td>30/11/20119</td>
                        <td>Otto</td>
                   
                        <td>Categoria</td>
                        <td><a class="button" style="font-size: 16px;" title="Editar" href="" data-toggle="modal" data-target="#gestion">
                          <span class="dashicons dashicons-admin-generic"></span>Gestionar
                          </a><a class="button" style="font-size: 16px;" title="Abrir" href="">
                            <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
                            </a></td>                
                      </tr>
                      <tr>
                        <th scope="row">1789</th>
                        <td>30/11/20119</td>
                        <td>Otto</td>
                     
                        <td>Categoria</td>
                        <td><a class="button" style="font-size: 16px;" title="Editar" href="">
                          <span class="dashicons dashicons-admin-generic"></span>Gestionar
                          </a><a class="button" style="font-size: 16px;" title="Abrir" href="">
                            <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
                            </a></td>                
                      </tr>
                      <tr>
                        <th scope="row">1789</th>
                        <td>30/11/20119</td>
                        <td>Otto</td>
                     
                        <td>Categoria</td>
                        <td><a class="button" style="font-size: 16px;" title="Editar" href="">
                          <span class="dashicons dashicons-admin-generic"></span>Gestionar
                          </a><a class="button" style="font-size: 16px;" title="Abrir" href="">
                            <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
                            </a></td>                
                      </tr>
                      <tr>
                        <th scope="row">1789</th>
                        <td>30/11/20119</td>
                        <td>Otto</td>
                 
                        <td>Categoria</td>
                        <td><a class="button" style="font-size: 16px;" title="Editar" href="">
                          <span class="dashicons dashicons-admin-generic"></span>Gestionar
                          </a><a class="button" style="font-size: 16px;" title="Abrir" href="">
                            <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
                            </a></td>                
                      </tr>
                      <tr>
                        <th scope="row">1789</th>
                        <td>30/11/20119</td>
                        <td>Otto</td>
                      
                        <td>Categoria</td>
                        <td><a class="button" style="font-size: 16px;" title="Editar" href="">
                          <span class="dashicons dashicons-admin-generic"></span>Gestionar
                          </a> <wbr> <a class="button" style="font-size: 16px;" title="Abrir" href="">
                            <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
                            </a></td>                
                      </tr>
        
                     
                  </tbody>
                </table>
      </div>
      
      <div class="col-3">
        <br>
        <br>
        <br>
      
        <!-- Button trigger modal -->
<button type="button" class="btn " data-toggle="modal" style="background-color: #808080; color: #ffffff;" data-target="#exampleModalCenter">
  <b>RECLAMOS SOLUCIONADOS</b>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Historial reclamos solucionados </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">id Reclamo</th>
              <th scope="col">Fecha </th>
              <th scope="col">Ejecutivo Asignado</th>
              <th scope="col">Categoria</th>                
              <th scope="col">Gestion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1789</th>
              <td>30/11/20119</td>
              <td>Otto</td>
         
              <td>Categoria</td>
              <td><a class="button" style="font-size: 16px;" title="Editar" href="">
                <span class="dashicons dashicons-admin-generic"></span>
                </a><a class="button" style="font-size: 16px;" title="Abrir" href="">
                  <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
                  </a></td>                
            </tr>
            <tr>
              <th scope="row">1789</th>
              <td>30/11/20119</td>
              <td>Otto</td>
           
              <td>Categoria</td>
              <td><a class="button" style="font-size: 16px;" title="Editar" href="">
                <span class="dashicons dashicons-admin-generic"></span>
                </a><a class="button" style="font-size: 16px;" title="Abrir" href="">
                  <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
                  </a></td>                
            </tr>
            <tr>
              <th scope="row">1789</th>
              <td>30/11/20119</td>
              <td>Otto</td>
           
              <td>Categoria</td>
              <td><a class="button" style="font-size: 16px;" title="Editar" href="">
                <span class="dashicons dashicons-admin-generic"></span>
                </a><a class="button" style="font-size: 16px;" title="Abrir" href="">
                  <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
                  </a></td>                
            </tr>
            <tr>
              <th scope="row">1789</th>
              <td>30/11/20119</td>
              <td>Otto</td>
       
              <td>Categoria</td>
              <td><a class="button" style="font-size: 16px;" title="Editar" href="">
                <span class="dashicons dashicons-admin-generic"></span>
                </a><a class="button" style="font-size: 16px;" title="Abrir" href="">
                  <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
                  </a></td>                
            </tr>
            <tr>
              <th scope="row">1789</th>
              <td>30/11/20119</td>
              <td>Otto</td>
            
              <td>Categoria</td>
              <td><a class="button" style="font-size: 16px;" title="Editar" href="">
                <span class="dashicons dashicons-admin-generic"></span> 
                </a> <wbr> <a class="button" style="font-size: 16px;" title="Abrir" href="">
                  <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
                  </a></td>                
            </tr>

           
        </tbody>
      </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
     
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="gestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">GESTIONAR RECLAMO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn " data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><img src="https://img.icons8.com/flat_round/64/000000/remove-document.png"> </button>
        <button type="button" class="btn " data-dismiss="modal"><img src="https://img.icons8.com/flat_round/64/000000/check-file.png"></button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">aqui el codigo dice data whatever se supone que es a quien va dirigido el boton</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Mensaje:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar<i class="fas fa-car-wash    "></i></button>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
    
    </body>
</html>