<html>
    <header  >
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
          <img src="../../../assets/fondo/flor.png" alt="" style="width: 4%; height: 4%;">
          <a class="navbar-brand " style="color: #808080;" href="#"><b>BIENVENIDO A SU PORTAL</b></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/usuario/reclamos" style="color:#808080;" ><b>Agregar reclamos</b> <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="usuario/perfil" style="color:#808080;" ><b>Perfil</b> <span class="sr-only">(current)</span></a>
              </li>              <li class="nav-item active">
                <a class="nav-link" href="usuario/historial" style="color:#808080;" ><b>Historial de reclamos</b> <span class="sr-only">(current)</span></a>
              </li>              <li class="nav-item active">
                <a class="nav-link" href="#" style="color:#808080;" ><b><h5>Salir</h5></b> <span class="sr-only">(current)</span></a>
              </li>
            </ul>
    
          </div>
    
        </nav>
      </header>
 || <body class="container" >
  <div class="container">
   
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar por id de registro" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">BUSCAR</button>
      </form>
    </nav>
</div>
<table class="table table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id Reclamo</th>
      <th scope="col">Fecha </th>
      <th scope="col">Ejecutivo Asignado</th>
      <th scope="col">Categoria</th>                
      <th scope="col">Gestion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1789</th>
      <td>30/11/20119</td>
      <td>Otto</td>
 
      <td>Categoria</td>
      <td><a class="button" style="font-size: 16px;" title="Editar" href="">
        <span class="dashicons dashicons-admin-generic"></span>
        </a><a class="button" style="font-size: 16px;" title="Abrir" href="">
          <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
          </a></td>                
    </tr>
    <tr>
      <th scope="row">1789</th>
      <td>30/11/20119</td>
      <td>Otto</td>
   
      <td>Categoria</td>
      <td><a class="button" style="font-size: 16px;" title="Editar" href="">
        <span class="dashicons dashicons-admin-generic"></span>
        </a><a class="button" style="font-size: 16px;" title="Abrir" href="">
          <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
          </a></td>                
    </tr>
    <tr>
      <th scope="row">1789</th>
      <td>30/11/20119</td>
      <td>Otto</td>
   
      <td>Categoria</td>
      <td><a class="button" style="font-size: 16px;" title="Editar" href="">
        <span class="dashicons dashicons-admin-generic"></span>
        </a><a class="button" style="font-size: 16px;" title="Abrir" href="">
          <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
          </a></td>                
    </tr>
    <tr>
      <th scope="row">1789</th>
      <td>30/11/20119</td>
      <td>Otto</td>

      <td>Categoria</td>
      <td><a class="button" style="font-size: 16px;" title="Editar" href="">
        <span class="dashicons dashicons-admin-generic"></span>
        </a><a class="button" style="font-size: 16px;" title="Abrir" href="">
          <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
          </a></td>                
    </tr>
    <tr>
      <th scope="row">1789</th>
      <td>30/11/20119</td>
      <td>Otto</td>
    
      <td>Categoria</td>
      <td><a class="button" style="font-size: 16px;" title="Editar" href="">
        <span class="dashicons dashicons-admin-generic"></span> 
        </a> <wbr> <a class="button" style="font-size: 16px;" title="Abrir" href="">
          <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
          </a></td>                
    </tr>
    <tr>
      <th scope="row">1789</th>
      <td>30/11/20119</td>
      <td>Otto</td>
 
      <td>Categoria</td>
      <td><a class="button" style="font-size: 16px;" title="Editar" href="">
        <span class="dashicons dashicons-admin-generic"></span>
        </a><a class="button" style="font-size: 16px;" title="Abrir" href="">
          <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
          </a></td>                
    </tr>
    <tr>
      <th scope="row">1789</th>
      <td>30/11/20119</td>
      <td>Otto</td>
   
      <td>Categoria</td>
      <td><a class="button" style="font-size: 16px;" title="Editar" href="">
        <span class="dashicons dashicons-admin-generic"></span>
        </a><a class="button" style="font-size: 16px;" title="Abrir" href="">
          <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
          </a></td>                
    </tr>
    <tr>
      <th scope="row">1789</th>
      <td>30/11/20119</td>
      <td>Otto</td>
   
      <td>Categoria</td>
      <td><a class="button" style="font-size: 16px;" title="Editar" href="">
        <span class="dashicons dashicons-admin-generic"></span>
        </a><a class="button" style="font-size: 16px;" title="Abrir" href="">
          <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
          </a></td>                
    </tr>
    <tr>
      <th scope="row">1789</th>
      <td>30/11/20119</td>
      <td>Otto</td>

      <td>Categoria</td>
      <td><a class="button" style="font-size: 16px;" title="Editar" href="">
        <span class="dashicons dashicons-admin-generic"></span>
        </a><a class="button" style="font-size: 16px;" title="Abrir" href="">
          <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
          </a></td>                
    </tr>
    <tr>
      <th scope="row">1789</th>
      <td>30/11/20119</td>
      <td>Otto</td>
    
      <td>Categoria</td>
      <td><a class="button" style="font-size: 16px;" title="Editar" href="">
        <span class="dashicons dashicons-admin-generic"></span> 
        </a> <wbr> <a class="button" style="font-size: 16px;" title="Abrir" href="">
          <span class="dashicons dashicons-admin-generic"></span>Ver Pdf
          </a></td>                
    </tr>

   
</tbody>
</table>
      <br>
      <br>
      <br>

    
    </body>
</html>